{% extends "base.html" %}
{% block content %}
{% block aboutarea %}
<!-- Start home-about Area -->
<section class="home-about-area section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 home-about-left">
                <img class="img-fluid" src="https://via.placeholder.com/603x428.jpg?text=interesting+shoulder+up+photo" alt="">
            </div>
            <div class="col-lg-5 col-md-6 home-about-right">
                <h6>A little about me</h6>
                <h1 class="text-uppercase">My journey</h1>
                <p>
                    In 2003, I had my first brief Human Design reading. Finally someone was able to explain to me precisely why I was so busy all the time. Astrology and numerology gave me generalities, and now Human Design gave me specifics that I found wondrous.
                </p>
                {% comment %}
                <a href="#" class="primary-btn text-uppercase">View Full Details</a>
                {% endcomment %}
            </div>
            <div class="col-lg-12 pt-60">
                <p>
                    Still, it was not until 2007 that I had a more in depth reading and realized I had been living my Human Design strategy from an unconscious level for a very long time.

                    When the hardest task easily fall into place, I thought it was simple, dumb luck. I did not realize that I had inadvertently followed my strategy and inner knowing.
                </p>
                <p>

                    I intuitively drew to me clients whose intentions and objectives aligned with my own. When I ignored my strategy, I ended up taking on tasks that I was uncomfortable with and ultimately unsuccessful at.
                </p>
                <!-- <h4 class="pt-30">Tools Expertness</h4> -->
            </div>
        </div>
        <!-- Start skill bars -->
        <!--
        <div class="row skillbar-wraps">
        <div class="col-lg-6 skill-left">
        <div class="single-skill">
        <p>
        After Effects 85%
    </p>
    <div class="skill" data-width="85"></div>
</div>
<div class="single-skill">
<p>
Photoshop 90%
</p>
<div class="skill" data-width="90"></div>
</div>
<div class="single-skill">
<p>
Illustrator 70%
</p>
<div class="skill" data-width="70"></div>
</div>
</div>
<div class="col-lg-6 skill-right">
<div class="single-skill">
<p>
Sublime 95%
</p>
<div class="skill" data-width="95"></div>
</div>
<div class="single-skill">
<p>
Sketch 85%
</p>
<div class="skill" data-width="85"></div>
</div>

</div>
</div>
-->
<!-- End skill bars -->
</div>
</section>
{% endblock aboutarea %}

<!-- Start timeline Area -->
<section class="timeline pb-120">
    <div class="text-center">
        <div class="menu-content pb-70">
            <div class="title text-center">
                <h1 class="mb-10">Timeline</h1>
                <p>My journey torwards Human Design</p>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <div class="content">
                <img class="img-fluid mx-auto d-block mb-30" src="img/about/OMO's%20Fabricare.jpeg" alt="">
                <h4>
                    <time>OMO's Cleaners</time>
                </h4>
                <p>1980 to 1985</p>
            </div>
        </li>
        <li>
            <div class="content">
                <img class="img-fluid mx-auto d-block mb-30" src="https://via.placeholder.com/154x70.jpg?text=real+estate" alt="">
                <h4>
                    <time>Real Estate Broker</time>
                </h4>
                <p>July 1985 to March 1990</p>
            </div>
        </li>
        <li>
            <div class="content">
                <img class="img-fluid mx-auto d-block mb-30" src="https://via.placeholder.com/154x70.jpg?text=Property+Inc." alt="">
                <h4>
                    <time>Property Management</time>
                </h4>
                <p>1993 to 1999</p>
            </div>
        </li>
        <li>
            <div class="content">
                <img class="img-fluid mx-auto d-block mb-30" src="img/about/ohanksmanagement-icon.png" alt="">
                <h4>
                    <time>O'Hanks Management</time>
                </h4>
                <p>June 1999 to present</p>
            </div>
        </li>
        <li>
            <div class="content">
                <img class="img-fluid mx-auto d-block mb-30" src="https://via.placeholder.com/50x50.png?text=Logo">
                <h4>
                    <time>Human Design in Action</time>
                </h4>
                <p>2003 to present</p>
            </div>
        </li>
    </ul>
</section>

<!-- End timeline Area -->

{% block servicesarea %}
{% endblock servicesarea %}

{% block factsarea %}
{% endblock factsarea %}

{% block testmonialarea %}
{% endblock %}

{% block pricearea %}
{% endblock %}

{% block blogarea %}
{% endblock blogarea %}

{% endblock %}
